/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #646262;
  background: #bcbabe
}
/* Link Styles */

a {
  text-decoration: none;
  color: #222326;
}

a:hover {
  color:#2BAA8F
}

.project-headings {
  text-decoration: none;
  color:#222326;
}

.project-headings:hover {
  text-decoration: none;
  color: #2BAA8F
}
/* Section Styles */

.main-nav {
  width: 100%;
  background-color:transparent;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
  color: white;
}
.nav a:hover {
  color: grey
  
}
.avatar-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}

header.index-page {
  text-align: center;
  background: url('images/tech2.png') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header.profile-page {
  text-align: center;
  background: url('images/tech.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}


.tag {
  color: white;
  border-radius: 5px;
  display: table;
  margin: 10px auto; 
} 


.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .2s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

p {
  font-size: 14px;
  line-height: 1.4em;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #1995ad;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #a1d6e2;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Card for the portfolio c/o Janki Ghandi tutorial */

.grid {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
} 
.grid > article {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
 .grid > article img {
  max-width: 100%;
  height: auto;
} 

.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
.grid > article:nth-child(1) {
  grid-row: span 2;
}


   /* object-fit: cover;  */

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.5em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

